* {
  font-family: "ModernSans";
  font-weight: bolder;
}

.row {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.navbar {
  background-color: #ffffff;
  color: #145796;
  height: 100px;
  box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
}

.redborder {
  border: 1px solid red;
}

.myBtn1 {
  background-color: white;
  border: rgb(0, 82, 189) 1px solid;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  color: rgb(0, 82, 189);
}

.myBtn2 {
  background-color: rgb(0, 82, 189);
  border: rgb(0, 82, 189) 1px solid;
  border-radius: 25px;
  width: 100px;
  height: 45px;
  color: white;
}

.myBtn3 {
  background-color: rgba(255, 255, 255, 0.7450980392);
  border: none;
  width: 100px;
  height: 45px;
  color: rgb(0, 82, 189);
}

.myBtn4 {
  background-color: white;
  border: 1px solid rgb(0, 82, 189);
  border-radius: 25px;
  width: 90px;
  height: 32px;
  color: rgb(0, 82, 189);

  font-size: 18px;
}

.myBtn5 {
  background-color: white;
  border: none;
  font-size: 14px;
  transition: color 0.5s ease;
}

.myBtn5:hover {
  background-color: white;
  border: none;
  font-size: 14px;
  color: #145796;
  transition: color 0.5s ease;
}

.myBtn6 {
  background-color: white;
  border: none;
  font-size: 18px;
  width: 60px;
  height: 35px;
}

.myBtn6:hover {
  color: rgb(0, 82, 189);
}

.myBtn7 {
  background-color: white;
  border: none;
  font-size: 16px;

  height: 35px;
}

.myBtn7:hover {
  color: rgb(0, 82, 189);
}

.arrow {
  width: 20px;
  transform: rotate(0deg);
  transition: transform 1s ease;
}
.arrow-open {
  width: 20px;
  transform: rotate(-90deg);
  transition: transform 1s ease;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(15, 96, 163, 0.123);
  color: rgb(0, 82, 189);
  background-color: rgba(218, 218, 218, 0.3647058824);
}
.buttonsrow {
  margin-top: -15px;
}

.myBtn1:hover {
  background-color: #f7f7f7;
}

.myBtn2:hover {
  background-color: rgb(0, 88, 202);
}

.myBtn4:hover {
  background-color: rgb(0, 82, 189);
  color: white;
  font-size: 19px;
}

.header-container {
  height: 500px;
  background-image: url("/public/bank.png");
}

.header-text {
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-top: 15vh;
  font-size: 30px;
}

.home-body {
  background-color: rgb(255, 255, 255);
  height: 400px;
  text-align: center;
  font-size: 20px;
}

.body-title {
  font-size: 30px;
}

.card-image {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

.cardtitle {
  height: 75px;
}

.footer-container {
  background-color: rgb(31, 73, 107);
  height: 200px;
  color: white;
}

.footer-text {
  text-align: center;
  padding-top: 150px;
}

.login-container {
  border: 1px solid rgba(5, 0, 53, 0.123);
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  width: 400px;
  margin-top: 20vh;
  height: 400px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.title {
  font-size: 20px;
}

.align-between {
  display: flex;
  justify-content: space-between;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.my-form {
  border: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, white, rgb(0, 82, 189), white) 5;
  box-shadow: none;

  text-align: center;
}

.my-form:focus {
  outline: none;
  border-image: linear-gradient(
      to right,
      white,
      rgb(0, 162, 255),
      rgb(0, 162, 255),
      rgb(0, 162, 255),
      white
    )
    5;
}

.dashboardnavbar {
  display: flex;
  text-align: center;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  min-height: 75px;
  height: fit-content;
  align-items: center;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, white, rgb(0, 82, 189), white) 5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navoption {
  display: flex;
  flex-direction: row;
}
.navoption:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, rgb(0, 82, 189), white) 5;
  max-width: 25px;

  margin: auto;
  opacity: 0;
  transition: opacity 1s ease;
}
.navoption:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, white, rgb(0, 82, 189)) 5;
  max-width: 25px;

  margin: auto;
  opacity: 0;
  transition: opacity 1s ease;
}
.navoption:before {
  margin-right: 10px;
}
.navoption:after {
  margin-left: 10px;
}

.navoption:hover:after,
.navoption:hover:before {
  transition: opacity 1s ease;
  opacity: 100%;
}

.navoption:hover {
  cursor: pointer;
  user-select: none;
}

.logoutbtn:hover {
  cursor: pointer;
  color: rgb(0, 82, 189);
}

.balancecontainer {
  border: 1px solid rgba(0, 82, 189, 0.116);
  border-radius: 15px;
  height: 75px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 2px 1px;
  align-items: center;

  background-color: white;
}

.dashboard-container {
  border: 1px solid rgba(5, 0, 53, 0.123);
  border-radius: 10px;

  margin: 0 auto;

  width: 500px;
  margin-top: 10vh;
  height: 500px;
  background-color: #ffffff;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.formbtn {
  color: red;
}

.titlecontainer {
  margin-top: 15px;
}
.summarytitle {
  justify-content: center;
  font-size: 18px;
}

.currency {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.493), white) 5;
}

.recenttransactions {
  height: 160px;
  margin-top: 15px;

  border: 1px solid rgba(0, 82, 189, 0.116);
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.quickmenu {
}

.subtitle {
  font-size: 17px;
}
.myBtn8 {
  background-color: white;
  position: relative;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.myBtn8:hover {
  color: #145796;
}

.myBtn11 {
  background-color: white;
  border: none;
  border: 1px solid rgb(0, 82, 189);
  border-radius: 15px;
  width: 80px;
  color: rgb(0, 82, 189);
}

.myBtn11:hover {
  color: white;
  background-color: #145796;
}
.contactitem {
  justify-content: center;
}

.dropdown-open {
  position: absolute;
  width: 100px;

  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(0, 82, 189);
  border-radius: 15px;
  z-index: 999;
}

.dropdown-closed {
  user-select: none;
}

.contactitem {
}
.contactitem:hover {
  color: rgb(0, 82, 189);

  cursor: pointer;
}

.currencyspan {
  position: absolute;

  opacity: 50%;
}

.currencyspan:hover {
  user-select: none;
  cursor: default;
}

.mt-40 {
  margin-top: 40px;
}

.mt-250 {
  margin-top: 250px;
}

.myBtn9 {
  background-color: white;
  border: rgb(0, 82, 189) 1px solid;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  color: rgb(0, 82, 189);
  font-size: 18px;
}

.buttonsrowx {
  position: absolute;
  bottom: 100px;
  margin-top: 100px;
}

.underlinebalance {
  user-select: none;
  opacity: 50%;
}

.underlinetext {
  user-select: none;
  opacity: 75%;
  font-size: 13px;
}

.income-true {
  color: green;
  text-align: right;
}

.income-false {
  color: red;
  text-align: right;
}

.paginationPageInputBox {
  width: 40px;
  margin-right: -10px;
}

.page-link:focus {
  box-shadow: none !important;
}

.pagination-bottom {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 250px;
  margin-top: 10px;
}

.transactionslist {
  height: 300px;
}

.passwordbox {
  border: 1px solid white;
  height: 175px;
}

.myBtn10 {
  background-color: white;
  border: none;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  height: 30px;
}

.myBtn10:hover {
  color: rgb(0, 82, 189);
}

.lefter {
  margin-left: -20px;
}

.pagination-container {
  height: 50px;
}

.contactslist {
  height: 275px;
}

.inline-block {
  display: inline-block;
}

.sendformcontainer {
  height: 400px;
}

.absolute-btn {
  position: absolute;
  width: fit-content;
  margin: 0 47px;
}

.hrhr1 {
  background-image: linear-gradient(to right, white, rgb(82, 82, 82), white);
}

.body-container {
  height: 340px;
}

.body-container-with-prefooter {
  height: 270px;
}

.align-center {
  justify-content: center;
}

.margin {
  margin-top: 50px;
}
.prefooter {
}
